.content .contentWrapper .newBotContent .newBotContentBox{
    display:flex;
    justify-content: space-between;
    margin-top:20px;
}
.contentWrapper{
    position:relative;
}
.contentWrapper .mask{
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.5);
    top:0;
    display:none;
    overflow:hidden;
}
.mask .addBox{
    position: absolute;;
    top: 29%;
    left: 30%;
    width: 40%;
    height: 30%;
    padding:20px;
    background:#fff;
    border-radius:4px;
    overflow:hidden;
}
.mask .addBox .brief{
    font-size:12px;
    font-style:normal;
}
.mask .addBox input{
    flex:1;
    margin-left:20px;
    padding:0 10px;
    height:35px;
    outline: none;
    border:none;
    font-size: 14px;
    border:1px solid #000;
    -webkit-font-smoothing: antialiased;
    line-height: 20px;
    border-radius: 4px;
    color:#000;
}
.aMaskButton{
    display:flex;
    justify-content: center;
    margin-top:20px;
}
.aMaskInpBox{
    margin-top:30px;
    display:flex;
    align-items: center;
    justify-content:flex-start;
}
.personalBasicInfo,.botBasicInfo{
    width:44%;
    border-radius:4px;
    overflow-y: scroll;
}
.newBotContentTitle{
    font-size: 32px;
    color:#fff;
}
.personalBasicInfo{
    color:#fff;
    padding:20px;
    background-color: rgba(0, 0, 0, 0.3);
}
.botBasicInfo{
    color:#636161;
    padding:20px;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.personalBasicInfo p,
.botBasicInfo p{
    font-size:28px;
    margin-bottom:30px;
}
.personalBasicInfo .inputBox,
.botBasicInfo .inputBox{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding:5px 10px;
}
.personalBasicInfo .inputBox input,
.botBasicInfo .inputBox input
{
    padding:0 10px;
    width:65%;
    height:35px;
    outline: none;
    margin-left:50px;
    border:none;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    line-height: 20px;
    border-radius: 4px;
}
.personalBasicInfo .inputBox input{
    background-color: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.8);
}
.botBasicInfo .inputBox input{
    background-color: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.8);
}

.personalBasicInfo .inputBox textarea,
.botBasicInfo .inputBox textarea
{
    padding:0 10px;
    width:65%;
    outline: none;
    margin-left:50px;
    border:none;  
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    line-height: 20px;
    border-radius: 4px;
}

.personalBasicInfo .inputBox textarea
{
    background-color: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.8);
}
.botBasicInfo .inputBox textarea
{
    background-color: rgba(255, 255, 255, 0.3);
    color: #636161;
}
/* now */
.addBotContentBox{
    color:#fff;
    padding:20px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius:8px;
}
.aTitle{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.aNewBotBtn{
    width:80px;
    height:40px;
    line-height: 40px;
    text-align: center;
    border-radius: 8px;
    cursor:pointer;
    /* background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%); */
    /* color:#204292; */
}
/* table */
.aTable .tableWrapper{
    display: block;
    width:100%;
    margin-top:30px;
}
.aTable .tableWrapper thead{
    display: block;
}
.aTable .tableWrapper .tableHeader{
  display:flex;
  align-items: center;
}
.tableWrapper .tableHeader th{
    height:35px;
    line-height:35px;
}
.tableWrapper .aTableBodyList{
    display: block;
    max-height: 280px;
    width:100% !important;
    overflow: scroll;
}
.tableWrapper tbody tr{
    display:flex;
    align-items: center;
}
.tableWrapper tbody tr th{
    font-size: 14px;
    font-weight: normal;
    padding-left:5px;
}
.tableLine{
    display: block;
    height: 35px;
}
.aTableBodyList tr:nth-child(odd){
 background:rgba(0, 0, 0, 0.3);
}



